# Ignore Python bytecode and caches
__pycache__/
*.py[cod]

# macOS metadata
.DS_Store

# VS Code settings
.vscode/

# JetBrains IDEs
.idea/**
!.idea/codeStyles/
!.idea/runConfigurations/
*.iml
# ignore workspace files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/usage.statistics.xml
*.egg-info/


# Tauri example
ui_examples/tauri_data_logger/node_modules/
ui_examples/tauri_data_logger/dist/
ui_examples/tauri_data_logger/src-tauri/target/
